.scorCard-container{
    margin:40px auto;
    width: 60%;
    height: 50vh;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    gap: 20px;
    border: 1px solid #3498db;
    padding: 10px;
    border-radius: 10px;
}
.control-container{
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: center;
}

.questions-numbers{
    color: black;
    font-size: medium;
    font-weight: 600;
}
.total{
    padding: 10px;
    width: 200px;
    height: 50px;
    font-size: large;
    font-weight: bold;
    color: white;
    border-radius: 10px;
    background-color: #3498db;
}
@media only screen and (max-width: 800px) {
    .scorCard-container{
        width: 95%;
    }
}